<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">
  <link href='https://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  <title>J35 St. Hedwig's Young Adult Ministry - Bucktown Catholics</title>
</head>
<body>
  <header>
    J35 Young Adult and Young Professionals Ministry
  </header>
  <div class="Subheader">
    A Ministry of St. Hedwig's Catholic Church, Bucktown, Chicago
  </div>
  <!-- <div class="Nav">
      <div class="Nav-link Nav-linkLeft">Events</div>
      <div class="Nav-link Nav-linkCenter">Contact</div>
      <div class="Nav-link Nav-linkRight">About Us</div>
  </div> -->
  <div class="Index-main">
    <%= yield %>
  </div>
</body>
</html>
