* {
	font-family: 'Muli', sans-serif;
}

body {
	width: 80%;
	margin: 0 auto;
}

.Index-sidebar {
	width: 200px;
	display: inline-block;
	vertical-align: top;
}

.Index-sidebarImage {
	width: 130px;
	margin: 0 auto;
}

.Index-main {
	width: 70%;
	display: inline-block;
	text-align: center;
	vertical-align: top;
}

.Index-mailList {
	margin: 10px 0;
}

.Pagelinks {
	margin-top: 10px;
}

.Pagelink {
	text-align: center;
	margin: 5px 0;
	font-weight: bold;
}