<h3>About us</h3>
<p>J35 is a ministry of St. Hedwig Catholic Parish located in the heart of the Bucktown neighborhood in Chicago, Illinois.</p>
<p>We were founded to provide the young adults and young professional families of Bucktown, Wicker Park and Logan Square a place to grow in their faith and forming a community.</p>