<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <link rel="stylesheet" href="/css/index.scss">
  <link href='https://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>J35 St. Hedwig's Young Adult Ministry - Bucktown Catholics</title>
</head>
<body>

  <div class="Index-sidebar">
    <div class="Index-sidebarImage">
      J35 Young Adult & Young Professionals Ministry
      <img src="website-logo.svg" />
    </div>

    <div class="Pagelinks">
      <div class="Pagelink">
        About Us
      </div>
    </div>

    <div class="Index-mailList">
      Join our mailing list to stay up-to-date with our upcoming events!
    </div>
  </div>
  <div class="Index-main">
    <%= yield %>
  </div>
</body>
</html>
